!!!
%html
	%head
		%title Real Estate
		= stylesheet_link_tag 'layout', 'overlay', 'formtastic', 'formtastic_changes', 'redbox'
		= javascript_include_tag :defaults, 'prototype', 'redbox'
	%body
		= yield :layout